POSTGRES_DATABASE =mydb
POSTGRES_HOST =localhost
POSTGRES_USER =postgres
POSTGRES_PORT =5432
POSTGRES_PASSWORD =postgres
JWT_SECRET =vresggsrfeqefqeaeawwefa

PGADMIN_DEFAULT_EMAIL = admin@admin.com
PGADMIN_DEFAULT_PASSWORD = admin